html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}
body{
    margin: 0;
    color: #262626;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    word-wrap: break-word;
}
#main {
  background-color:transparent;
background-position: 10ch 8em;
background: no-repeat;
background-size: contain;
width: 100%;
min-height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
main{
  display: block;
}
.call-out{
  text-align: center;
}
html, body{
    width: 100%;
    height: 100%
}
article{
    padding: 3% 23%;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
}
article header{
    margin-bottom: 3%;
    text-align: center;
}
article a:hover{text-decoration: underline;
color: #22527b;}

a{
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}
a:link {
  color: red;
}
a:visited{
  color: blue;
}
a:hover{
  color: hotpink;
}
a:active{
  color: green;
}
h1{
    font-size: 2.3em;
    margin: 0.67em 0;
}
img{
    border: 0;
    max-width: 100%;
  padding: 0 9%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img[align="left"] {
    margin-right: 3%;
  }
  img[align="right"] {
    margin-left: 3%;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  margin: 0.67em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #262626;
}
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.15em;
  }
  h4 {
    font-size: 1.0em;
  }
  p, li{
      font-size: 0.8em;
  }
  blockquote {
   
    margin: 1em 1em;
    padding: 0.75em 1em;
    background-color: rgb(255,204, 204);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
blockquote h3{
  text-align: center;
}

.site-header {
    padding: 1%;
    background: white;
    display: inline-block;
    float: none;
    width: 100%;
  color: white;
  }
.site-header .avatar {
    height: 3em;
    width: 3em;
    float: left;
    margin-top: 0px;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 1px 5px;
 
  }
    

    ol, ul{
        list-style-position: outside;
        margin-left: 1em;
    }
    .site-header {
        padding: 1%;
        background: white;
        display: inline-block;
        float : none;
        width: 100%;
      }
      .site-header .separator {
        user-select: none;
        opacity: 0;
      }
      .site-header .separator:first-child {
        display: none;
      }
      .site-header a {
        color: #383838;
      }

      .site-header .site-title {
        font-weight: bold;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 1.2em;
      }
      .site-title a {
        color:#383838;
      }
      @media screen and (max-width: 768px){
        h1 {
          font-size: 2em;
        }
        h2 {
          font-size: 1.5em;
        }
        h3 {
          font-size: 1em;
        }
        h4,
        tr,
        th,
        .meta,
        #post-nav p {
          font-size: 0.9em;
        }
        p,
        li,
        td {
          font-size: 0.8em;
        }
        li li {
          font-size: 0.95em;
        }
        li li * {
          font-size: 1em;
        }
        iframe,
        img,
        embed,
        object,
        video {
          max-width: 100%;
          padding: 0 1%;
        }
      
      }
      @media screen and (max-width: 576px) {
        h1 {
          font-size: 1.5em;
        }
        h2 {
          font-size: 1em;
        }
        h3 {
          font-size: 0.9em;
        }
        h4,
        th,
        tr,
        .meta,
        #post-nav p {
          font-size: 0.85em;
        }
        p,
        li,
        td {
          font-size: 0.8em;
        }
        li li {
          font-size: 0.95em;
        }
        li li * {
          font-size: 1em;
        }
        table {
          overflow-x: scroll;
        }
      }
      @media (max-width: 2000px) {
        .comments,
        article,
        .site-footer {
          padding: 3% 18%;
        }
          .call-out {
            padding: 9% 9%;
        }
      }
      @media (max-width: 1400px) {
        .comments,
        article,
        .site-footer {
          padding: 3% 9%;
        }
      }
      @media (max-width: 1000px) {
        .comments,
        article,
        .site-footer {
          padding: 3% 6%;
        }
      }
      @media (max-width: 576px) {
        .comments,
        article,
        .site-footer {
          padding: 3% 4%;
        }
            .call-out {
              text-align: left;  padding: 9%;
            }
          
            
          
        
      }

      @media (min-width: 768px) {
        a#pull {
          display: none;
        }
      }
